<!DOCTYPE html>
<html ng-app="htn2015">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1,  target-densitydpi=device-dpi" />
        
        <link href="css/angular-carousel.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/font-awesome.min.css">        <link rel="stylesheet" type="text/css" href="css/index.css" />
        
        <title>Bluetooth Serial Chat</title>
    </head>
    
    <body ng-controller="MainCtrl">
        <!--
        <script>
            var duration = 0.5; 
            nativetransitions.fade(duration, onComplete);
        </script>
        -->
        
<nav class="navbar navbar-default navbar-fixed-top background-transparent">
      <div class="container">
        <div class="navbar-header">
            <h1>{{navBarTitle}}</h1>
            <img style="height: 30px; width: 30px; float: right; margin-top: -39px" src="image/right.jpg"/>
        </div>
      </div>
    </nav>

<ul class="ulist-wrapper container overflow-y" rn-carousel rn-carousel-index="carouselIndex">
    <li>
            <div class="list-wrapper row" style="height:{{80*bluetoothList.length}}">
                    <div class="repeat-wrapper top-buffer" ng-repeat="device in bluetoothList track by $index">
                        <div ng-click="addDevice(device.address, $index)" >
                            <div class="pull-right">
                                <div class="blk">Name:</div>
                                <div class="blk">{{device.name}}</div>
                            </div>
                            <div class="pull-left">
                                <div class="blk">Mac Address</div>
                                <div class="blk">{{device.address}}</div>
                            </div>
                        </div>
                    </div>
            </div>
            </li>
            
    <li>
        <div class="list-wrapper row"></div>
        <div class="container w80" ng-show="stillSearching">
            <div>
                <div id="detailpage ">
                    <div id="text" style="font-size: 25px; color: #f8f8f8; margin: auto;
                                          padding: 10px;text-align: center;">
                       “TAKE ONLY MEMORIES, LEAVE ONLY FOOTPRINTS.” <br>– CHIEF SEATTLE</br>
                    </div>
                    <div class="inputloctaion" style="margin: 20px;">
                        <input id="search" type="text" class="form-control"/>
                    </div>
                    <div class="inputlocation" style="margin: 20px;">
                        <button type="button" class="btn btn-primary btn-block" ng-click="findPlaces(val)">Go</button>
                    </div>
                  </div>
              </div>
                    <!--button type="button" class="btn btn-primary" ng-click="sendData(val)">Disconnect</button>-->
                </div>
                
                <div id="page" rn-carousel-indicatiors ng-if="slides.length> 1" slides="slides"></div>
      

        <div class="list-wrapper row" style="height:{{80*placesResults.length}}" ng-show="!stillSearching">
            <div class="repeat-wrapper top-buffer" ng-repeat="place in placesResults track by $index">
                <div ng-click="getPath(place.formatted_address, $index)" >
                    <div class="pull-left">
                        <div class="blk">Address:</div>
                        <div class="blk">{{place.formatted_address}}</div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-touch.js"></script>
        <script src="js/angular-carousel.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
