<!DOCTYPE html>
<html ng-app="htn2015">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1,  target-densitydpi=device-dpi" />
        
        <link href="css/angular-carousel.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/font-awesome.min.css">        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Bluetooth Serial Chat</title>
    </head>
    
    <body ng-controller="MainCtrl">
        <!--
        <script>
            var duration = 0.5; 
            nativetransitions.fade(duration, onComplete);
        </script>
        -->
<nav class="navbar navbar-default navbar-fixed-top background-transparent">
      <div class="container">
        <div class="navbar-header">
            <h1>{{navBarTitle}}</h1>
            <!--<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>-->
        </div>
      </div>
    </nav>
<ul class="ulist-wrapper" rn-carousel rn-carousel-index="carouselIndex">
    <li>
            <div class="list-wrapper">
                    <div class="repeat-wrapper top-buffer" ng-repeat="device in bluetoothList track by $index">
                        <div ng-click="addDevice(device.address, $index)" >
                            <div class="pull-right">
                                <div class="blk">Name:</div>
                                <div class="blk">{{device.name}}</div>
                            </div>
                            <div class="pull-left">
                                <div class="blk">Mac Address</div>
                                <div class="blk">{{device.address}}</div>
                            </div>
                        </div>
                    </div>
            </div>
            </li>
            
    <li>
        <div class="repeat-wrapper top-buffer"></div>
        <div class="container w80">
            <div class="form-wrapper">
                <div id="detailPage">
                    <div class="row">
                       “TAKE ONLY MEMORIES, LEAVE ONLY FOOTPRINTS.” <br>– CHIEF SEATTLE</br>
                    </div>
                    <div class="row">
                        <input ng-model="val" type="text" class="form-control"/>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary btn-block" ng-click="sendData(val)">Go</button>
                    </div>
                    <!--<button type="button" class="btn btn-primary" ng-click="getPath()">Disconnect</button>-->
                </div>
                
                <div id="page" rn-carousel-indicatiors ng-if="slides.length> 1" slides="slides"></div>
                </div>
            </div>
        </div>
    </li>
</ul>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-touch.js"></script>
        <script src="js/angular-carousel.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
