<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1,  target-densitydpi=device-dpi" />
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/font-awesome.min.css">        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <script src="js/angular.min.js"></script>
        
        <title>Bluetooth Serial Chat</title>
    </head>
    
    <body ng-app="htn2015" ng-controller="MainCtrl">
        <!--
        <script>
            var duration = 0.5; 
            nativetransitions.fade(duration, onComplete);
        </script>
        -->
        <div class="app">
            <div class="navbar navbar-defult navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <h1>MY DEVICES</h1>
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        
                    </div>
                </div>
            </div>
        </div>
        
            </div>
        
            <div id="mainPage">
                <ul class="nav nav-tabs">
                    <li ng-repeat="device in bluetoothList track by $index">
                        <div ng-click="addDevice(device.address, $index)" >
                            <div style="float:left;">{{device.name}}</div>
                            <div style="text-align:right">{{device.address}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        
        <div class="container w80" ng-hide="false">
            <div id="detailPage">
                <div class="row">
                    Where would you like to go?
                </div>
                <div class="row">
                    <input ng-model="val" type="text" class="form-control"/>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary btn-block" ng-click="sendData(val)">Send</button>
                </div>
                <!--<button type="button" class="btn btn-primary" ng-click="getPath()">Disconnect</button>-->
            </div>
            <div id="statusDiv"></div>
        </div>
            
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
